# Topics
* Data Types
* Variables, Keywords, identifiers
* Input/Output
* If-else statement
* Operators
* Loop 
* Function

# Data Type
* int
* float
* str
* boolean
* list
* tuple
* set
* tuple

In [2]:
# Variable: That contains value
a = 5
b = -5 
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [3]:
c = 3.5
print(type(c))

<class 'float'>

In [5]:
d = 'machine learning'
e = "data science"

print(type(d))
print(type(e))

<class 'str'>
<class 'str'>

In [6]:
bool1 = True # 1
bool2 = False # 0
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [7]:
# Single comment 
# 

# Multiple comment 
# sdfsfj
# sdfhsf

In [9]:
d = 'machine learning'
f = '''machine
learning 
course'''
print(d)
print(f)

machine learning
machine
learning
course

In [16]:
list1 = [2,1,3,4,'ai',[10,11],9,5,6,7] # mutable
type(list1)

list

In [17]:
list1[0]

2

In [18]:
list1[0] = 60

In [19]:
list1

[60, 1, 3, 4, 'ai', [10, 11], 9, 5, 6, 7]

In [20]:
tuple1 = (2,4,5,6,7)
type(tuple1)

tuple

In [21]:
tuple1[2] = 9

TypeError: 'tuple' object does not support item assignment

In [22]:
set1 = {2,3,4,5,6,7}
print(set1)

{2, 3, 4, 5, 6, 7}

In [23]:
set1 = {2,3,5,5,6,7}
print(set1)

{2, 3, 5, 6, 7}

In [24]:
type(set1)

set

In [25]:
# Variable
# Not allowed
# 1name
# name@

# Accepetable:
# _, -, a-z, A-Z

In [ ]:
# type, set, str, 

# age = 5
# def calculate_sum(a, b):
#     return a + b

# class age_and_name:

# Operators
* +, -, *, /, %, //, ==, <, >, <=, >=, !=, **, ++, --

In [26]:
3+5

8

In [27]:
7 // 2

3

In [31]:
7 / 2

3.5

In [29]:
7 % 2

1

In [32]:
5 == 5

True

In [33]:
5 == 6

False

In [34]:
5 != 6

True

In [36]:
2 ** 3

8

In [49]:
result = int(input("Enter your marks: "))
result

80

In [50]:
type(result)

int

In [51]:
if result > 40:
    print("Passed")

Passed

In [52]:
if result > 40:
    print('Passed')
else:
    print("Fail")

Passed

In [53]:
if result < 40:
    print("Failed")
elif(result <= 50):
    print('D')
elif(result <= 60):
    print('C')
else:
    print('A')

A

# Loop

In [54]:
for i in range(5):
    print(i)

0
1
2
3
4

In [55]:
print(list1)

[60, 1, 3, 4, 'ai', [10, 11], 9, 5, 6, 7]

In [56]:
for i in list1:
    print(i)

60
1
3
4
ai
[10, 11]
9
5
6
7

In [58]:
a = 1
while a < 5:
    print(a)
    a = a + 1

1
2
3
4

In [61]:
# Function

def sum(a, b):
    return a + b

In [62]:
print(sum(3, 6))

hello world
9

In [64]:
def sum1(a, b):
    add = a + b
    print(add)
    return add

print(sum1(4, 1))

5
5