# Topics
* Data Types
* Variables, Keywords, identifiers
* Input/Output
* If-else statement
* Operators
* Loop 
* Function

### Data Type and Data Structure
* int
* float
* str
* boolean
* list
* tuple
* set
* dictionary

In [2]:
# Variable: That contains value
a = 5
b = -5 
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [3]:
c = 3.5
print(type(c))

<class 'float'>

In [5]:
d = 'machine learning'
e = "data science"

print(type(d))
print(type(e))

<class 'str'>
<class 'str'>

In [6]:
bool1 = True # 1
bool2 = False # 0
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [7]:
# Single comment 
# 

# Multiple comment 
# sdfsfj
# sdfhsf

In [9]:
d = 'machine learning'
f = '''machine
learning 
course'''
print(d)
print(f)

machine learning
machine
learning
course

In [16]:
list1 = [2,1,3,4,'ai',[10,11],9,5,6,7] # mutable
type(list1)

list

In [17]:
list1[0]

2

In [18]:
list1[0] = 60

In [19]:
list1

[60, 1, 3, 4, 'ai', [10, 11], 9, 5, 6, 7]

In [20]:
tuple1 = (2,4,5,6,7)
type(tuple1)

tuple

In [21]:
tuple1[2] = 9

TypeError: 'tuple' object does not support item assignment

In [22]:
set1 = {2,3,4,5,6,7}
print(set1)

{2, 3, 4, 5, 6, 7}

In [23]:
set1 = {2,3,5,5,6,7}
print(set1)

{2, 3, 5, 6, 7}

In [24]:
type(set1)

set

In [25]:
# Variable
# Not allowed
# 1name
# name@

# Accepetable:
# _, -, a-z, A-Z

In [ ]:
# type, set, str, 

# age = 5
# def calculate_sum(a, b):
#     return a + b

# class age_and_name:

# Operators
* +, -, *, /, %, //, ==, <, >, <=, >=, !=, **, ++, --

In [26]:
3+5

8

In [27]:
7 // 2

3

In [31]:
7 / 2

3.5

In [29]:
7 % 2

1

In [32]:
5 == 5

True

In [33]:
5 == 6

False

In [34]:
5 != 6

True

In [36]:
2 ** 3

8

In [49]:
result = int(input("Enter your marks: "))
result

80

In [50]:
type(result)

int

In [51]:
if result > 40:
    print("Passed")

Passed

In [52]:
if result > 40:
    print('Passed')
else:
    print("Fail")

Passed

In [53]:
if result < 40:
    print("Failed")
elif(result <= 50):
    print('D')
elif(result <= 60):
    print('C')
else:
    print('A')

A

# Loop

In [54]:
for i in range(5):
    print(i)

0
1
2
3
4

In [55]:
print(list1)

[60, 1, 3, 4, 'ai', [10, 11], 9, 5, 6, 7]

In [56]:
for i in list1:
    print(i)

60
1
3
4
ai
[10, 11]
9
5
6
7

In [58]:
a = 1
while a < 5:
    print(a)
    a = a + 1

1
2
3
4

In [61]:
# Function

def sum(a, b):
    return a + b

In [62]:
print(sum(3, 6))

hello world
9

In [64]:
def sum1(a, b):
    add = a + b
    print(add)
    return add

print(sum1(4, 1))

5
5

In [1]:
# key : value

dict1 = {
    'Name' : 'Mustain Billah'
}
print(dict1)

{'Name': 'Mustain Billah'}

In [2]:
print(type(dict1))

<class 'dict'>

In [3]:
dict2 = {
    "Name": "Mustain",
    "Age": 24,
    "Sex": "Male",
    "height": 5.6,

}
print(dict2)

{'Name': 'Mustain', 'Age': 24, 'Sex': 'Male', 'height': 5.6}

In [4]:
dict2["Name"]

'Mustain'

In [5]:
dict2['Age']

24

In [6]:
len(dict2)

4

In [13]:
dict3 = {
    "Name": "Mustain",
    "Age": 24,
    "Sex": "Male",
    "height": 5.6,
    'interest': ['football', 'exercise', 'running']

}
print(dict3)

{'Name': 'Mustain', 'Age': 24, 'Sex': 'Male', 'height': 5.6, 'interest': ['football', 'exercise', 'running']}

In [14]:
dict3['interest']

['football', 'exercise', 'running']

In [16]:
dict3['interest'][2]

'running'

In [17]:
dict3['Name'] = 'Pervej'

In [18]:
dict3

{'Name': 'Pervej',
 'Age': 24,
 'Sex': 'Male',
 'height': 5.6,
 'interest': ['football', 'exercise', 'running']}

In [19]:
dict3.update({'Name': 'asad'})
dict3

{'Name': 'asad',
 'Age': 24,
 'Sex': 'Male',
 'height': 5.6,
 'interest': ['football', 'exercise', 'running']}

In [20]:
dict3['roll'] = 5
dict3

{'Name': 'asad',
 'Age': 24,
 'Sex': 'Male',
 'height': 5.6,
 'interest': ['football', 'exercise', 'running'],
 'roll': 5}

In [23]:
dict3.pop('roll')
dict3

{'Name': 'asad',
 'Age': 24,
 'Sex': 'Male',
 'height': 5.6,
 'interest': ['football', 'exercise', 'running']}

In [26]:
for dict_value in dict3:
    print(dict_value)

Name
Age
Sex
height
interest

In [27]:
for dict_value in dict3.values():
    print(dict_value)

asad
24
Male
5.6
['football', 'exercise', 'running']

In [28]:
for dict_value in dict3.keys():
    print(dict_value)

Name
Age
Sex
height
interest

In [29]:
for dict_value in dict3.items():
    print(dict_value)

('Name', 'asad')
('Age', 24)
('Sex', 'Male')
('height', 5.6)
('interest', ['football', 'exercise', 'running'])

# String

In [30]:
a = "Data Science"

In [31]:
a

'Data Science'

In [33]:
a[0:4]

'Data'

In [34]:
a[:4]

'Data'

In [35]:
a[5:]

'Science'

In [36]:
a[-5:-2]

'ien'

In [37]:
a.upper()

'DATA SCIENCE'

In [38]:
a.lower()

'data science'

In [41]:
'data' == ' data'

False

In [42]:
# 'data', ' data'
b = ' I love Bangladesh. '
b.strip()

'I love Bangladesh.'

In [43]:
b.split()

['I', 'love', 'Bangladesh.']

In [44]:
b.split('B')

[' I love ', 'angladesh. ']

In [45]:
b

' I love Bangladesh. '

In [46]:
b.replace(".", '!')

' I love Bangladesh! '

In [47]:
first_str = 'Hello'
second_str = 'world'

first_str + second_str

'Helloworld'

In [48]:
first_str + " " + second_str

'Hello world'

In [52]:
age = 30
static_txt = f'My age is 24'
static_txt

'My age is 24'

In [53]:
dynamic_txt = f'My age is {age}'
dynamic_txt

'My age is 30'

In [54]:
c = f'Multiplication of 3 and 4 = {3 * 4}'
c

'Multiplication of 3 and 4 = 12'

In [55]:
list5 = ['asif', 'pervej', 'mustain', 'haydar']

In [56]:
list5[3]

'haydar'

In [57]:
list5[0:3]

['asif', 'pervej', 'mustain']

In [58]:
list5[3] = 'ali'

In [59]:
list5

['asif', 'pervej', 'mustain', 'ali']

In [61]:
list5.append('Naharul')
list5

['asif', 'pervej', 'mustain', 'ali', 'Naharu', 'Naharul']

In [63]:
list5.insert(1, 'billah')
list5

['asif', 'billah', 'billah', 'pervej', 'mustain', 'ali', 'Naharu', 'Naharul']

In [64]:
list5.remove('Naharu')

In [65]:
list5

['asif', 'billah', 'billah', 'pervej', 'mustain', 'ali', 'Naharul']

In [66]:
list5.pop(1)

'billah'

In [67]:
list5

['asif', 'billah', 'pervej', 'mustain', 'ali', 'Naharul']

In [68]:
for val in list5:
    print(val)

asif
billah
pervej
mustain
ali
Naharul

In [69]:
for val in range(6):
    print(list5[val])

asif
billah
pervej
mustain
ali
Naharul

In [70]:
len(list5)

6

In [72]:
for val in range(len(list5)):
    print(list5[val])

asif
billah
pervej
mustain
ali
Naharul

In [73]:
list5.sort()

In [74]:
list5

['Naharul', 'ali', 'asif', 'billah', 'mustain', 'pervej']

In [75]:
list6 = [1,2,3,7,4,5]
list6.sort()

In [76]:
list6

[1, 2, 3, 4, 5, 7]

In [77]:
list5.sort(reverse=True)

In [78]:
list5

['pervej', 'mustain', 'billah', 'asif', 'ali', 'Naharul']

In [79]:
# Set
set5 = {1,2,2, 3,4,5}
set5

{1, 2, 3, 4, 5}

In [80]:
set5.add(7)

In [81]:
set5

{1, 2, 3, 4, 5, 7}

In [82]:
set5.append(8)

AttributeError: 'set' object has no attribute 'append'

In [84]:
list7 = [[1,2,3], [4,5,6], [7,8,9]]
list7

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
list7[2][1]

8

In [98]:
# ***
# ***
# ***

for i in range(3):
    print(i)
    for j in range(3):
        print('*', end=' ')
        print(j)
    print()

0
* 0
* 1
* 2

1
* 0
* 1
* 2

2
* 0
* 1
* 2